{% block extra_css %}
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
{% endblock %}
<header id="header">
    <div class="container-fluid">

        <div class="logo">
            <h1><a href="index.html">Citly</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
        <nav class="nav-menu">
            <ul>
                <li class="active"><a href="#header" class="scrollto">Home</a></li>
                <li><a href="#about" class="scrollto">About Us</a></li>
                <li><a href="#why-us" class="scrollto">Why Us</a></li>
                <li><a href="#contact" class="scrollto">Contact Us</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
