<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Citly</h1>
        <h2>Please, fill out the for below field and click "Shorten"</h2>
        <form method="post" role="form" class="link-form">
            <input id="shorten_url" class="shorten-input" autocomplete="off" name="url" type="text" value=""
                   placeholder="Shorten your link">
            <div class="text-center">
                <button type="submit">Shorten</button>
            </div>
        </form>
    </div>
</section>