{% block extra_css %}
    <link href="{{ url_for('static', filename='css/hero.css') }}" rel="stylesheet">
{% endblock %}
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to Citly</h1>
        <h2>Please, fill out the for below field and click "Shorten"</h2>
        <form id="shorten_url_form" method="post" role="form" class="link-form">
            <div class="shorten-input-wrapper">
                <input id="shorten_url_input" class="shorten-input" autocomplete="off" name="url" type="text" value=""
                       placeholder="Shorten your link">
                <span id="shorten_url_number" class="hidden"></span>
            </div>
            <p id="shorten_url_error"></p>
            <div class="text-center">
                <button id="shorten_url_btn" type="submit">Shorten</button>
                <button class="hidden" id="copy_url_btn" type="button">Copy!</button>
            </div>
        </form>
    </div>
</section>
{% block extra_js %}
    <script src="{{ url_for('static', filename='js/link-shortener.js') }}"></script>
{% endblock %}